/* Global */

@font-face {
    font-family: 'sk_concreticaregular';
    src: url('fonts/skconcretica-webfont.woff2') format('woff2'),
         url('fonts/skconcretica-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}


@font-face {
    font-family: 'gropledbold';
    src: url('fonts/gropled-bold-webfont.woff2') format('woff2'),
         url('fonts/gropled-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: bold;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.special_font {
  font-family: 'gropledbold';
}

.link {
  text-decoration: none;
}

.list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.page-body {
  font-family: 'sk_concreticaregular';
  width: 100vw;
  background-position-x: center;
  margin: 0;
  padding: 0px;
  background-image: url(/static/img/desktop-back.png);
  background-repeat: no-repeat;
 }

.button {
  background-color: none;
  color: white;
  font-size: ;
  border: none;
}

.modal {
  display: none;
}

.container {
  width: 375px;
  position: relative;
  margin: 0px auto;
  padding: 0px 0px 90px 18px;
}

/* Header */
.main_header {
  padding-top: 40px;
  width: 340px;
  margin: 0px auto 50px;
  display: flex;
  justify-content: space-between;
}

.header_link {
  display: none;
}

.menu {
  display: none;
}


/* Main */
.main_title {
  margin: 0px;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}

/* Card of gift */

.gift-card {
  display: flex;
  flex-wrap: wrap;
  margin-top: 24px;
}

.gift-card_description {
  width: 338px;
  padding: 0px;
}

.gift_pic {
  width: 255px;
  height: 191px;
}

.description_title {
  margin: 0px;
  font-size: 24px;
  line-height: 40px;
  text-transform: uppercase;
}

.description_text {
  margin: 15px 0px 43px;
  color: #8C8C8C;
  font-size: 12px;
  line-height: 20px;
}

.description_link {
  color: #5FAC5D;
  font-size: 12px;
  line-height: 20px;
}

.description_author {
  color: #5FAC5D;
  font-size: 12px;
  line-height: 20px;
}

.message {
  background-image: url(/static/img/mobile-card-back.png);
  background-repeat: no-repeat;
  width: 338px;
  height: 161px;
  padding: 26px 0px 0px 13px;
}

.name {
  height: 30px;
  display: flex;
  align-items: center;
  padding: 0px;
  margin: 0;
}

.star {
  width: 26px;
  height: 26px;
  margin-right: 12px;
}

.question_img {
  width: 20px;
  height: 20px;
  margin-top: 32px;
  margin-left: 5px;
}

.message_title {
  font-size: 18px;
  line-height: 30px;
}

.message_title::before {
  width: 20px;
  height: 20px
  background-color:red;
}

.message_text {
  width: 314px;
  font-size: 14px;
  line-height: 28px;
}

/* Steps */

.steps {
  display: none;
}

/* Buttons */

.next-button, .capability-button {
  /*margin: 48px auto 60px;*/
  padding-top: 0px;
  padding-left: 91px;
  display: block;
  background-image: url(/static/img/mobile-button-green.png);
  background-repeat: no-repeat;
  width: 339px;
  height: 66px;
  font-size: 30px;
  line-height: 80px;
}

.button-black {
  font-family: 'sk_concreticaregular';
  background-color: rgba(255, 255, 255, 0);
  background-image: url(/static/img/black-button.png);
  background-position: center;
  background-repeat: no-repeat;
  width: 156px;
  height: 65px;
  font-size: 30px;
  line-height: 80px;
  margin-top: 30px; 
}

.generation-button, .enter-button {
  font-family: 'sk_concreticaregular';
  background-color: #5FAC5D;
  border: none;
  width: 339px;
  height: 48px;
  font-size: 16px;
  line-height: 28px;
  margin-top: 14px;
  color: white;
}

.green-button {
  background-color: rgba(255, 255, 255, 0);
  background-image: url(/static/img/green-button.png);
  background-position: center;
  background-repeat: no-repeat;
  width: 155px;
  height: 85px;
  font-size: 30px;
  line-height: 80px;
  margin-top: 30px; 
}

.empty-button {
  background-color: rgba(255, 255, 255, 0);
  background-image: url(/static/img/empty-button.png);
  background-position: center;
  background-repeat: no-repeat;
  width: 155px;
  height: 85px;
  font-size: 30px;
  line-height: 80px;
  margin-top: 30px; 
  color: black;
}

.confirmation-button {
  display: block;
  width: 79px;
  height: 28px;
  background-color: #5FAC5D;
  border: none;
  font-size: 16px;
  line-height: 28px;
  color: white;
  padding: 10px 130px;
  position: absolute;
  top: 400px;
  left: 18px;
}


.open-nft-button {
  display: block;
  background-color: #5FAC5D;
  width: 79px;
  height: 28px;
  font-size: 16px;
  line-height: 28px;
  padding: 10px 130px;
  position: absolute;
  top: 508px;
}

.capability-button {
  padding: 10px 105px;
  width: 129px;
  height: 28px;
  background-color: black;
  font-size: 16px;
  line-height: 28px;
  margin-top: 58px;
}

.keys-button {
  display: block;
  color: white;
  background-color: #5FAC5D;
  width: 219px;
  height: 28px;
  font-size: 16px;
  line-height: 28px;
  padding: 10px 60px;
  margin: 12px auto 0px;
}

.button-container {
  padding: 0;
  margin: 0;
  display: inline;
}

.change-button {
  width: 339px;
  height: 48px;
  background-color: black;
  color: white;
  font-size: 16px;
  line-height: 28px;
  border: none;
}
/* Receiving */

.choise {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.choise_title {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}

.question {
  font-size: 24px;
  line-height: 40px;
  text-decoration: underline;
}

.question::after {
  width: 20px;
  height: 20px;
  background-image: url(/static/img/question-iqon.svg);
  margin-left: 14px;
}


.explanation_answer {
  width: 339px;
  font-size:  12px;
  line-height: 24px;
}

.explanation_answer p {
  padding-top: 20px;
}

.create_input, .enter_input {
  margin-right: 36px; 
  width: 315px;
  height: 28px;
  font-size: 16px;
  line-height: 28px;
  padding: 10px 12px;
  border: none;
  background-color: #F7F7F7;
}

.create_title {
  font-size: 14px;
  line-height: 25px;
  width: 287px;
}

.create_title span {
  font-size: 14px;
  line-height: 25px;
  color: #8C8C8C;
}

.receiving_steps {
  position: absolute;
  top: 706px;
  padding: 0px 0px 70px;
}

.keys {
  position: relative;
}

.key-container {
  padding: 0px;
  margin: 0px;
  width: 587px;
}

.keys_public {
  overflow-x: scroll;
}

.keys_private {
  overflow-x: scroll;
}

.keys_private::-webkit-scrollbar {
  height: 3px;
  width: 7px;
  background-color: #5FAC5D;
}

.keys_public::-webkit-scrollbar {
  height: 3px;
  width: 7px;
  background-color: #5FAC5D;
}

.key {
  font-family: 'sk_concreticaregular';
  display: block;
  background-color: #F7F7F7;
  width: 339px;
  height: 48px;
  font-size: 16px;
  line-height: 28px;
  padding: 16px 30px;
  color: black;
}

.keys_list {
  display: inherit;
}

.keys_item {
  display: flex;
}

.keys_advice {
  display: none;
}

.confirmation {
  position: relative;
}

.confirmation_title {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}

.confirmation_text {
  width: 339px;
}

.question_container {
  align-items: center;
}

/* Checking page */

.gift-card-checking {
  flex-wrap: wrap;
  position: relative;
}

.checking_text {
  font-size: 16px;
  line-height: 24px;
}

.checking_img {
  border: 1px solid #5FAC5D;
}

.checking_img:nth-child(2) {
  width: 103px;
  height: 76px;
}

.checking_img:nth-child(4) {
  width: 103px;
  height: 61px;
}

@media (min-width: 375px) {
  .container {
    width: 1200px;
  }

  .main_header {
    padding-top: 40px;
    width: 1200px;
    margin: 0px auto 50px;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 18px;
    line-height: 40px;
  }

  .header_link {
    display: block;
    color: #5FAC5D;
   text-decoration: underline;
  }

  .menu {
    display: flex;
    width: 260px;
    justify-content: space-between;
  }

  .menu_item {
    color: black;
  }

  .main_title {
    font-size: 66px;
    line-height: 80px;
  }

  .description_text {
    font-size: 14px;
    line-height: 28px;
  }

  .description_link {
    font-size: 14px;
    line-height: 28px;
  }

  .description_author {
    font-size: 14px;
    line-height: 28px;
  }

  .message {
    width: 600px;
    height: 223px;
    background-image: url(/static/img/card-back.png);
  }

  .message_title {
    font-size: 24px;
    line-height: 30px;
  }

  .message_text {
    width: 495px;
  }

  .star {
    width: 42px;
    height: 42px;
    margin-right: 12px;
  }

  .steps {
    margin: 118px 0px 0px;
    width: 1200px;
    display: block;
  }

  .steps_list {
    justify-content: space-between;
    list-style: disc;
  }

  .steps_item {
    width: 195px;
    color: #8C8C8C;
  }

  .steps_title {
    font-size: 18px;
    line-height: 24px;
  }

  .steps_text {
    font-size: 12px;
   line-height: 24px;
  }

  .current_step {
    color: black;
  }

  .next-button, .capability-button {
    margin: 48px auto 60px;
    padding-left: 91px;
    background-image: url(/static/img/button-green.png);
    width: 222px;
    height: 90px;
    font-size: 36px;
  }

  .button-black {
    background-image: url(/static/img/black-button.png);
    width: 155px;
    height: 85px;
    font-size: 36px;
    margin-top: 30px; 
  }

  .button-black:nth-child(2) {
    margin-left: 80px;
    margin-right: 12px;
  }

  .choise_title {
    font-size: 66px;
    line-height: 80px;
  }

  .explanation_answer {
    width: 979px;
    font-size:  14px;
    line-height: 30px;
  }

  .create_title {
    font-size: 24px;
    line-height: 40px;
    width: 720px;
  }

  .create_title span {
    font-size: 12px;
    line-height: 40px;
  }

  .create_input, .enter_input {
    margin-right: 36px; 
    width: 527px;
    height: 28px;
    font-size: 24px;
    padding: 16px 30px;
  }

  .generation-button, .enter-button {
    width: 190px;
    height: 60px;
    font-size: 24px;
    margin-left: 0px;
    margin-top: 0;
  }

  .enter-button-container {
    display: inline;
    width: 126px;
  }

  .generation-button {
    position: relative;
    top: -2px;
    margin: 0px 0px 0px 36px;
  }

  .green-button {
    width: 155px;
    height: 85px;
    font-size: 36px;
    line-height: 80px;
    margin-top: 30px; 
  }
  .empty-button {
    width: 155px;
    height: 85px;
    font-size: 36px;
    margin-top: 30px;
  }

  .green-button:nth-child(2) {
    margin-left: 80px;
   margin-right: 12px;
  }

  .empty-button:nth-child(2) {
   margin-left: 80px;
   margin-right: 12px;
  }

  .key {
    background-color: white;
    width: 527px;
    height: 28px;
    font-size: 24px;
    padding: 16px 30px;
  }

  .keys_advice {
    display: block;
    font-family: 'sk_concreticaregular';
    width: 577px;
    height: 60px;
    background-color: black;
    color: white;
    font-size: 20px;
    line-height: 28px;
    margin-top: 36px;
    margin-left: 30px;
  }

  .keys_item {
    display: flex;
  }

  .keys-button {
    display: block;
    color: white;
    background-color: rgba(255, 255, 255, 0);
    background-image: url(/static/img/keys_button.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 619px;
    height: 90px;
    font-size: 36px;
    line-height: 80px;
    padding-left: 113px;
    margin: 42px auto 0px; 
    position: absolute;
    top: 450px;
    left: 241px;
  }

  .gift-card-checking {
    display: inline-grid;
    grid-template-columns: 358px 678px;
    column-gap: 129px;
    flex-wrap: nowrap;
    width: 1165px;
  }

  .gift-card_description {
   width: 585px;
   padding: 0px 0px 0px 60px;
  }

  .open-nft-button {
    display: block;
    background-image: url(/static/img/open-nft-button.png);
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0);
    width: 157px;
    height: 90px;
    font-size: 36px;
    line-height: 80px;
    margin-top: 42px;
    padding: 10px 100px; 
    top: 268px;
    left: 0;
  }

  .capability-button {
    background-color: rgba(255, 255, 255, 0);
    padding: 30px 63px;
    width: 380px;
    height: 70px;
    background-image: url(/static/img/capability-button.png);
  }

  .gift-card-container {
    width: 358px;
    height: 268px;
    margin: 0;
  }

  .gift_pic {
    width: 358px;
    height: 268px;
  }

  .checking_img:nth-child(2) {
    width: 190px;
    height: 140px;
  }

  .checking_img:nth-child(4) {
    width: 149px;
    height: 89px;
  }

  .checking_block {
    width: 654px;
  }

  .confirmation_title {
    font-size: 66px;
    line-height: 80px;
  }

  .confirmation_text {
    width: 749px;
  }

  .confirmation-button {
    background-image: url(/static/img/send-button.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 153px;
    height: 90px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    margin: 0px auto 0px;
    font-size: 36px;
    line-height: 80px;
    color: white;
    position: absolute;
    top: 348px;
    left: 447px;
  }

  .enter {
    position: relative;
  }

  .change-button {
    position: absolute;
    top: 135px;
    left: 601px;
    height: 60px;
  }

  .keys_public {
    overflow-x: hidden;
  }
}