{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet"  href="{% static 'css/style.css' %}">
	<title>NFT Gift Receiving</title>

	<!--	todo: use base for the same head-->
	<link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon_pack/apple-touch-icon.png' %}">
	<link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon_pack/favicon-32x32.png' %}">
	<link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon_pack/favicon-16x16.png' %}">
	<link rel="manifest" href="{% static 'favicon_pack/site.webmanifest' %}">
	<link rel="mask-icon" href="{% static 'favicon_pack/safari-pinned-tab.svg' %}" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="theme-color" content="#ffffff">

	<script type="text/javascript" src="{% static 'javascript/web3.min.js' %}"></script>
</head>
<body class="page-body">
	<div class="container">
		<header class="main_header">
		  	<img class="logo" src="{% static 'img/logo.svg' %}">
		  	<ul class="menu list">
		  		<li><a class="special_font menu_item link" href="">Home</a></li>
		  		<li><a class="special_font menu_item link" href="">About us</a></li>
		  		<li><a class="special_font menu_item link" href="">FAQ</a></li>
		  	</ul>
		  	<a class="link special_font header_link" href="">Send a gift</a>
	  	</header>
		<main>
			<div class="choise">
				<h1 class="special_font choise_title">Do you have ETH wallet?</h1>
				<button class="button-black button yes-button">Yes</button>
				<button class="button-black button no-button">No</button>
			</div>
			<div class="explanation">
				<div class="keys_item question_container">
					<p class="question">What is ETH wallet?</p>
					<img class="question_img" src="{% static 'img/question-iqon.svg' %}">
				</div>
				<div class="explanation_answer">
					<p>Ethereum wallets are applications that let you interact with your Ethereum account. Think of it like an internet banking app – without the bank. Your wallet lets you read your balance, send transactions and connect to applications.</p>
					<p>You need a wallet to send funds and manage your ETH.   Your wallet is only a tool for managing your Ethereum account. That means you can swap wallet providers at any time. Many wallets also let you manage several Ethereum accounts from one application.</p>
					<p>You can create wallet on services like <a>MetaMask</a> or <a>CoinBase</a></p>
			</div>
			</div>
			<div class="create visually-hidden">
				<h2 class="create_title">Enter a random text to generate unic wallet <span>(example: eat some more of these 	french buns)</span></h2>
				<label for="seed-phrase">
    	            <input  class="create_input" type="text" name="seed-phrase" placeholder="random text" id="seed-phrase">
    	        </label> 
				<button class="generation-button button" onclick="createAddress()">Generate</button>
			</div>
			<div class="keys visually-hidden">
				<h2>Save the keys to send NFT</h2>
				<ul class="keys_list list">
					<li class="keys_item">
						<p class="key" id="seed-phrase-disabled"></p>
						<button class="generation-button button">Generate</button>
					</li>
					<li class="keys_item">
						<p class="keys_public key" id="public_key"></p>
						<button class="keys_advice keys_advice-public">Copy it to give other people</button>
					</li>
					<li class="keys_item">
						<div class="key-container">
							<p class="keys_private key" id="private_key"></p>
						</div>
						<button class="keys_advice keys_advice-private">Copy it to save access to the wallet (this is the password)</button>
					</li>
				</ul>
				<div class="keys_item">
					<p class="question">How to save the keys?</p>
					<img class="question_img" src="{% static 'img/question-iqon.svg' %}">
				</div>
				<a class="keys-button link" href="javascript:sendAndCheck()">I saved the keys, start sending</a>
			</div>
			<div class="enter visually-hidden">
				<h2 class="confirmation_title visually-hidden special_font">Check address to send NFT</h2>
				<label for="user-vallet">
    	            <input  class="enter_input" type="text" size="50" name="user-vallet" placeholder="Enter your ETH address" id="seed-phrase">
    	        </label>
    	        <div class="enter-button-container">
    	        	<button class="enter-button">Enter</button>
    	        </div>				
				<p class="visually-hidden  confirmation_text">Check the correctness of the address, if you made a mistake, the sending cannot be canceled</p>
				<div class="change-button-container">
					<button class="change-button visually-hidden">Change ETH address</button>
				</div>
				<a class="confirmation-button link visually-hidden" href="javascript:sendAndCheck()">Send NFT</a>
			</div>
			<div class="steps receiving_steps">
				<ul class="steps_list list">
				  	<li class="steps_item  step1 current_step">
					  	<h3 class="steps_title">Step 1</h3>
					  	<p class="steps_text">You open the gift link</p>
				  	</li>
				  	<li class="steps_item  step2 current_step">
					  	<h3 class="steps_title">Step 2</h3>
					  	<p class="steps_text">You enter or create a wallet address</p>
				  	</li>
				  	<li class="steps_item  step3">
					  	<h3 class="steps_title">Step 3</h3>
					  	<p class="steps_text">We send NFT to your address</p>
				  	</li>
				  	<li class="steps_item  step4">
					  	<h3 class="steps_title">Step 4</h3>
					  	<p class="steps_text">You are checking the NFT on Rarible</p>
				  	</li>
				  	<li class="steps_item">
					  	<h3 class="steps_title">Step 5</h3>
					  	<p class="steps_text">You control the NFT</p>
				  	</li>
			  	</ul>
			</div>
		</main>
	</div>
	<script type="text/javascript">
    var yesButton = document.querySelector(".yes-button");
    var noButton = document.querySelector(".no-button");
    var generationButton = document.querySelector(".generation-button");
    var keysButton = document.querySelector(".keys-button");
    var enterButton = document.querySelector(".enter-button");
    var confirmationText = document.querySelector(".confirmation_text");
    var confirmationTitle = document.querySelector(".confirmation_title");
    var confirmationButton = document.querySelector(".confirmation-button");
    var copyPrivateKeyButton = document.querySelector(".keys_advice-private");
    var copyPublicKeyButton = document.querySelector(".keys_advice-public");
	var userWallet = document.querySelector(".enter_input");
	var enterButtonContainer = document.querySelector(".enter-button-container");
	var changeWalletButton = document.querySelector(".change-button");
	var changeButtonContainer = document.querySelector(".change-button-container");

    var privateKey = document.querySelector(".keys_private");
    var publicKey = document.querySelector(".keys_public");
    var choiseTitle =  document.querySelector(".choise_title");
    var stepItem = document.querySelector(".step3");
   	var explanationBlock = document.querySelector(".explanation");
    var createValletBlock = document.querySelector(".create");
    var keysBlock = document.querySelector(".keys");
    var enterBlock = document.querySelector(".enter");
    var confirmationBlock = document.querySelector(".confirmation");
    var successBlock = document.querySelector(".success");

	window.addEventListener('load', function () {
		if (typeof web3 !== 'undefined') {
			console.log('Web3 Detected! ' + web3.currentProvider.constructor.name)
			window.web3 = new Web3(web3.currentProvider);
		} else {
			console.log('No Web3 Detected... using HTTP Provider')
			window.web3 = new Web3(new Web3.providers.HttpProvider("https://mainnet.infura.io/v3/a39418e6ade04bfdbccdf8f0bbcc94f1"));
		//    todo: key to env
		}
	});

    noButton.addEventListener("click", function (evt) {
        evt.preventDefault();
        createValletBlock.classList.remove("visually-hidden");
        explanationBlock.classList.add("visually-hidden");
        noButton.classList.remove("button-black");
        noButton.classList.remove("empty-button");
        yesButton.classList.remove("button-black");
        noButton.classList.add("green-button");
        yesButton.classList.add("empty-button");
        enterBlock.classList.add("visually-hidden");
      });

    generationButton.addEventListener("click", function (evt) {
        evt.preventDefault();
        choiseTitle.classList.add("visually-hidden");
        createValletBlock.classList.add("visually-hidden");
        keysBlock.classList.remove("visually-hidden");
        yesButton.classList.add("visually-hidden");
        noButton.classList.add("visually-hidden");
        stepItem.classList.add("current_step");
      });

    yesButton.addEventListener("click", function (evt) {
        evt.preventDefault();
        enterBlock.classList.remove("visually-hidden");
        explanationBlock.classList.add("visually-hidden");
        noButton.classList.remove("button-black");
        yesButton.classList.remove("empty-button");
        yesButton.classList.remove("button-black");
        noButton.classList.add("empty-button");
        yesButton.classList.add("green-button");
        createValletBlock.classList.add("visually-hidden");
      });

    enterButton.addEventListener("click", function (evt) {
        evt.preventDefault();
        choiseTitle.classList.add("visually-hidden");
        confirmationTitle.classList.remove("visually-hidden");
        confirmationText.classList.remove("visually-hidden");
        confirmationButton.classList.remove("visually-hidden");
        userWallet.setAttribute("disabled", "disabled");
        yesButton.classList.add("visually-hidden");
        noButton.classList.add("visually-hidden");
        stepItem.classList.add("current_step");
		enterButtonContainer.classList.add("visually-hidden");
		changeWalletButton.classList.remove("visually-hidden");
		changeButtonContainer.classList.remove("visually-hidden");
      });

    changeWalletButton.addEventListener("click", function (evt) {
        evt.preventDefault();
        choiseTitle.classList.remove("visually-hidden");
        confirmationTitle.classList.add("visually-hidden");
        confirmationText.classList.add("visually-hidden");
        confirmationButton.classList.add("visually-hidden");
        userWallet.removeAttribute("disabled");
        yesButton.classList.remove("visually-hidden");
        noButton.classList.remove("visually-hidden");
        stepItem.classList.remove("current_step");
		enterButtonContainer.classList.remove("visually-hidden");
		changeButtonContainer.classList.add("visually-hidden");
      });

    copyPrivateKeyButton.addEventListener("click", function (evt) {
        evt.preventDefault();
        function copyToClipboard(privateKey) {
    		privateKey.select();
  			document.execCommand("copy");
		}
      });

    copyPublicKeyButton.addEventListener("click", function (evt) {
        evt.preventDefault();
        function copyToClipboard(publicKey) {
    		publicKey.select();
  			document.execCommand("copy");
		}
      });
	  
	window.addEventListener('load', function () {
            if (typeof web3 !== 'undefined') {
                console.log('Web3 Detected! ' + web3.currentProvider.constructor.name)
                window.web3 = new Web3(web3.currentProvider);
            } else {
                console.log('No Web3 Detected... using HTTP Provider')
                window.web3 = new Web3(new Web3.providers.HttpProvider("https://mainnet.infura.io/v3/a39418e6ade04bfdbccdf8f0bbcc94f1"));
            }
        })

    function createAddress() {
      console.log(userWallet.length);

      if (!userWallet.length <= 32) {
        entropy = null;
      }

      account = web3.eth.accounts.create([userWallet]);

      console.log(`address: ${account.address}`);
      console.log(`privateKey: ${account.privateKey}`);

      publicKey.innerHTML = account.address;
      privateKey.innerHTML = account.privateKey;
    }

	function createAddress() {  // todo: Anna
      var entropy = document.getElementById("seed-phrase").value;
      console.log(entropy.length);
      document.getElementById("seed-phrase-disabled").innerHTML = entropy;

      if (!entropy.length <= 32) {
        entropy = null;
      }

      account = web3.eth.accounts.create([entropy]);

      document.getElementById("public_key").innerHTML = account.address;
      userWallet.value = account.address;
      document.getElementById("private_key").innerHTML = account.privateKey;
    }

    function sendAndCheck() {
    	window.location = "{% url 'web:send_and_check' 1234 %}".replace(/1234/, userWallet.value);
	}
  </script>
</body>
</html>